$header-heading-color:   #ff2600;
$section-headings-color: #ff2600;
$header-bg-color: #ff2600;
$header-bg-color-secondary: #f88636;

@import "{{ site.theme }}";

$header-heading-color:   #ff2600;
$section-headings-color: #ff2600;
$header-bg-color: #ff2600;
$header-bg-color-secondary: #f88636;


.page-header {
  color: #ff2600;
}
