$header-heading-color:   #FF2600;
$section-headings-color: #FF2600;
$header-bg-color: #FF2600;
$header-bg-color-secondary: #F88636;

@import "{{ site.theme }}";

$header-heading-color:   #FF2600;
$section-headings-color: #FF2600;
$header-bg-color: #FF2600;
$header-bg-color-secondary: #F88636;
