$header-heading-color:   #ff2600;
$section-headings-color: #ff2600;
$header-bg-color: #ff2600;
$header-bg-color-secondary: #f88636;
$section-headings-color: #0086b3;

@import "{{ site.theme }}";

.page-header {
  color: #ff2600;
}
